<h1>Editar tarefa</h1>
<form action="/edtarefa" method="GET">

{{#each tarefas}}
    <label>Tarefa a ser editada: <b>{{id}}</b></label><br><br>
    <label>Novo titulo: </label>
    <input type="text" name="titulo"><br><br>

    <label>Novo comentario: </label>
    <input type="text" name="comentario"><br><br>

    <a href = '/edtarefa'><button>Confirmar </button></a><br><br>

    <b>Numero da tarefa: {{id}}</b><br><br>
    <b>Titulo: </b>{{titulo}}<br>
    <b>Comentario: </b>{{comentario}}<br>
    <b>Tarefa editada: </b>{{#formatDate updatedAt}}{{/formatDate}}<br><br>
    <a href = 'deltarefa/{{id}}'><button>Apagar Tarefa </button></a><br><br>
    


{{/each}}


</form>
